In [1]:
import pandas as pd

In [39]:
# Open the csv files for Maastricht GTFS
stops = pd.read_csv('Maastricht GTFS/maastricht_stops.csv')
stop_times = pd.read_csv('Maastricht GTFS/maastricht_stop_times.csv')
trips = pd.read_csv('Maastricht GTFS/maastricht_trips.csv')
routes = pd.read_csv('Maastricht GTFS/maastricht_routes.csv')

In [40]:
stops.head()

,stop_id,stop_code,stop_name,stop_lat,stop_lon,location_type,parent_station,stop_timezone,wheelchair_boarding,platform_code,zone_id,clean_stop_id
0,2511615,NaN,Maastricht,50.850684,5.704599,0,stoparea:17969,NaN,NaN,NaN,IFF:mt,2511615
1,2485741,44161,"Maastricht, Koningin Emmaplein",50.849292,5.678235,0,NaN,NaN,0.0,NaN,NaN,2485741
2,2511622,NaN,Maastricht Noord,50.870569,5.717505,0,stoparea:30382,NaN,NaN,2,IFF:mtn,2511622
3,2511621,NaN,Maastricht Noord,50.870627,5.717754,0,stoparea:30382,NaN,NaN,1,IFF:mtn,2511621
4,2511623,NaN,Maastricht Noord,50.871752,5.716623,0,stoparea:30382,NaN,NaN,NaN,IFF:mtn,2511623

In [63]:
#remove any stoparea: from parent_station column
stops['parent_station'] = stops['parent_station'].str.replace('stoparea:', '')
stops['stop_id'] = stops['stop_id'].str.replace('stoparea:', '')

In [64]:
stops.head()

,stop_id,stop_code,stop_name,stop_lat,stop_lon,location_type,parent_station,stop_timezone,wheelchair_boarding,platform_code,zone_id,clean_stop_id
0,2511615,NaN,Maastricht,50.850684,5.704599,0,17969,NaN,NaN,NaN,IFF:mt,2511615
1,2485741,44161,"Maastricht, Koningin Emmaplein",50.849292,5.678235,0,NaN,NaN,0.0,NaN,NaN,2485741
2,2511622,NaN,Maastricht Noord,50.870569,5.717505,0,30382,NaN,NaN,2,IFF:mtn,2511622
3,2511621,NaN,Maastricht Noord,50.870627,5.717754,0,30382,NaN,NaN,1,IFF:mtn,2511621
4,2511623,NaN,Maastricht Noord,50.871752,5.716623,0,30382,NaN,NaN,NaN,IFF:mtn,2511623

In [65]:
stops.size

6504

In [66]:
# Remove any rows that do not contain Maastricht
stops = stops[stops['stop_name'].str.contains('Maastricht')]

In [67]:
stops.size

6504

In [68]:
stop_times.head()

,trip_id,stop_sequence,stop_id,stop_headsign,arrival_time,departure_time,pickup_type,drop_off_type,timepoint,shape_dist_traveled,fare_units_traveled
0,178417226,15,2577737,NaN,22:07:00,22:07:00,0,0,0,7048.0,7046
1,178417098,15,2577737,NaN,06:24:00,06:24:00,0,0,0,7048.0,7046
2,178417123,15,2577737,NaN,08:24:00,08:24:00,0,0,0,7048.0,7046
3,178417290,15,2577737,NaN,16:24:00,16:24:00,0,0,0,7048.0,7046
4,178417213,15,2577737,NaN,18:24:00,18:24:00,0,0,0,7048.0,7046

In [71]:
# Print the types for stop_times['stop_id'] and stops['stop_id']
print(stop_times['stop_id'].dtypes)
print(stops['stop_id'].dtypes)

int64
object

In [72]:
# Convert the stop_id in stops to a int64
stops['stop_id'] = stops['stop_id'].astype('int64')

In [73]:
# Print the types for stop_times['stop_id'] and stops['stop_id']
print(stop_times['stop_id'].dtypes)
print(stops['stop_id'].dtypes)

int64
int64

In [74]:
# Only keep stop_times that are in stops
stop_times = stop_times[stop_times['stop_id'].isin(stops['stop_id'])]

In [75]:
stop_times.size

1161699

In [76]:
# Only keep trips that are in stop_times
trips = trips[trips['trip_id'].isin(stop_times['trip_id'])]

In [77]:
trips.size

185736

In [78]:
# Only keep routes that are in trips
routes = routes[routes['route_id'].isin(trips['route_id'])]

In [79]:
routes.size

891

In [80]:
# Save the cleaned dataframes to csv files
stops.to_csv('Maastricht GTFS/maastricht_stops_cleaned.csv', index=False)
stop_times.to_csv('Maastricht GTFS/maastricht_stop_times_cleaned.csv', index=False)
trips.to_csv('Maastricht GTFS/maastricht_trips_cleaned.csv', index=False)
routes.to_csv('Maastricht GTFS/maastricht_routes_cleaned.csv', index=False)

In [2]:
stops = pd.read_csv('Maastricht GTFS/maastricht_stops_cleaned.csv')
stop_times = pd.read_csv('Maastricht GTFS/maastricht_stop_times_cleaned.csv')
trips = pd.read_csv('Maastricht GTFS/maastricht_trips_cleaned.csv')
routes = pd.read_csv('Maastricht GTFS/maastricht_routes_cleaned.csv')

In [ ]:
# Remove trips that